// these are variables to tARGET all the differnet
// color you may want to use.

$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700 
);


// how to target the body tag by just using the variables

body {
    background: $primary-color;
    color: $text-color;
}

// target the main class
.main {
    width: 80%;
    margin: 0 auto;

    //to target classes with you main class
    // e.g this paragraph class using its class name
    //  instead of just using p tag

    #{&}__paragraph {

        font-weight: map-get($font-weights, medium);
        
        // adding a hover effect

        &:hover {

            color: pink;
        }


    }
}