@import './resepets';
@import './variables';
@import './functions';

// how to target the body tag by just using the variables

body {
    background: $primary-color;
    color: $text-color;
}

// target the main class
.main {

    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center ;
    align-items: center;


    //to target classes with you main class
    // e.g this paragraph class using its class name
    //  instead of just using p tag

    #{&}__paragraph {

        font-weight: weight(bold);
        
        // adding a hover effect

        &:hover {

            color: pink;
        }


    }
}